.content{
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.abt{
    position: relative;
    margin-left: 46.5%;
	font-family: 'Sora';
	margin-top: 1%;
	font-size: 35px;
}

.description{
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 31px;
    font-family: 'Sora';
    margin-bottom: 2%;
    line-height: 32px;
}

#d1{
    top: 10px;
    margin-top: 12%;
    font-family: 'Sora';
    /* line-height: 31px; */
}

#d2{
    top: 23px;
}

#d3{
    /* top: 230px; */
}

#d4{
    /* top: 260px; */
    /* line-height: 32px; */
}

#d5{
    top: 300px;
    text-align: center;
    padding-top: 10px;
    font-size: 28px;
    padding-bottom: 40px;
}

#image1{
    position: relative;
    margin-top: 32px;
    margin-left: 10%;
    width: 80%;
    /* height: 400px; */
}

.sub{
    position: relative;
    margin-left: 4%;
    font-family: 'Sora';
    font-size: 22px;
    margin-bottom: 2%;
    margin-top: 1%;
}

#s1{
    font-weight: 600;
    top: 20px;
    letter-spacing: 7px;
    text-align: center;
    font-size: x-large;
    margin-left: 0;
}

#s2{
    /* top: 220px; */
    font-weight: 600;
    top: 20px;
    letter-spacing: 7px;
    text-align: center;
    font-size: x-large;
    margin-left: 0;
}

#s3{
    /* top: 250px; */
    font-weight: 600;
    top: 20px;
    letter-spacing: 7px;
    text-align: center;
    font-size: x-large;
    margin-left: 0;
}

.name{
    font-family: 'Sora';
    line-height: 30px;
    /* position: relative; */
    font-size: 20px;
    /* font-size: medium; */
    margin-left: 47%;
    /* margin-top: 0%; */
    /* margin-top: 180px; */
    /* z-index: 0; */
    /* padding-top: 12px; */
}

#dilini{
    /* margin-left: 12.5%; */
}

#chathuranga{
    /* margin-left: 33.5%; */
}

#tharaki{
    /* margin-left: 56.5%; */
}

#yapa{
    /* margin-left: 79.5%; */
}

.images{
    position: relative;
    height: 20px;
    width: 15px;
    z-index: 1;
    margin-top: 30px ;
}

#dil{
    position: absolute;
    margin-left: 1000%;
    height: 200px;
    width: 200px;
    border: solid;
    border-radius: 100px;
}

#cha{
    position: absolute;
    margin-left: 3250%;
    height: 200px;
    width: 200px;
    border: solid;
    border-radius: 100px;
}

#tha{
    position: absolute;
    margin-left: 5500%;
    height: 200px;
    width: 200px;
    border: solid;
    border-radius: 100px;
}

#san{
    position: absolute;
    margin-left: 7700%;
    height: 200px;
    width: 200px;
    border: solid;
    border-radius: 100px;
}