.container{
    position: absolute;
    left: 20%;
    top: 20%;
    /* bottom: 244px; */
    width: 58%;
    height: 74%;
    background: white;
    box-shadow: 0px 70px 40px rgb(74 85 188 / 42%);
    backdrop-filter: blur(19.028px);
    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 20px; */
    /* padding-bottom: 2%; */
    display: flex;
    flex-direction: column;
    row-gap: 31px;
}
.photo{
    width: fit-content;
    height: 25%;
    position: absolute;
    left: -7%;
    top: -5%;
    box-shadow: -5px -2px 20px 3px rgb(74 85 188 / 42%);
}
.support{
    /* position: absolute; */
    width: 40%;
    margin-left: 29%;
    /* left: 27%; */
    font-family: 'Roboto';
    font-size: 23px;
    text-align: left;
    color: #aa0404;
    letter-spacing: 1px;
    /* text-shadow: 0 0 black; */
    /* background: azure; */
}
.amount{
    margin-top: 7%;
    margin-left: 4%;
    display: flex;
    column-gap: 5%;
    margin-bottom: 3%;
}
.text{
    font-family: 'Roboto';
    font-size: 21px;
    width: 11%;
    /* color: #000000a1; */
}
.box{
    font-size: 35px;
    border-radius: 15px;
    width: 45%;
    text-align: end;
    font-family: 'Sora';
    font-weight: 300;
}

.range-slider {
    margin: 23px 0 20px 0%;
  }
  
  .range-slider {
    width: 100%;
  }
  
  .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
    display:inline;
  }
  .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
  .range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
  }
  .range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
  }
  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
  .range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
  }
  .range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
  }
  .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
  }
  
  .range-slider__value {
    display: inline;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #04aa6d;
    padding: 5px 10px;
    margin-left: 8px;
  }
  .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
  }
  
  ::-moz-range-track {
    border: 0;
  }
  
  input::-moz-focus-inner,
  input::-moz-focus-outer {
    border: 0;}

.tipbox{
    width: 60%;
    font-family: 'Roboto';
    margin-left: 4%;
    padding-top: 2%;
    border-top: solid;
    border-width: thin;
}
.text2{
    font-size: 20px;
    padding: 14px 0;
}
.progressbar{}
.text3{
    font-size: 17px;
}
.calculate{
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 17px;
    left: 59%;
    top: 32%;
    background: #40404024;
    font-family: 'Roboto';
    padding: 1%;
    width: 19%;
    height: fit-content;
    row-gap: 5px;
}
.r1{
    display: flex;
    flex-direction: row;
    padding-bottom: 11px;
}
.r2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.r3{
    display: flex;
    justify-content: space-between;
}
.r4{
    display: flex;
    justify-content: space-between;
    border-top: solid;
    border-width: thin;
    padding-top: 7px;
}
.continue{
    margin-top: 10px;
    text-decoration: none;
    background: #000000a1;
    padding: 4px 8px;
    padding-right: 24px;
    color: white;
    /* position: absolute; */
    margin-left: 62%;
    text-transform: uppercase;
    width: fit-content;
}