
* {
    box-sizing: border-box;
    /* width: fit-content; */
}

a {
    text-decoration: none;
    color: black;
}

form {}

div {
    /* text-align: center; */
}
.bg1{
    background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	position: fixed;
	top: 0vw;
	left: 0vw;
}
.MainOval {
	border-radius:500px;
	width: 100vw;
	height: 100vw;
	left: -60vw;
	top:10%;
	position: relative;
	background: radial-gradient(77.13% 77.13% at 45% 25%, #FFD9D7 0%, #FFFFFF 100%);
	filter: blur(50px);
}

/*glassbox*/

.BlurRectRect { 
	position: absolute;
    width: fit-content;
    height: auto;
    left: 32%;
    top: 25%;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 4.13%, rgba(255, 255, 255, 0.5) 80.29%);
    backdrop-filter: blur(19.028px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;

}
.BlurRectOval {
	position: absolute;
	width: 20%;
	left: 13%;
	top: 30%;
	max-width:40vw;
	background: linear-gradient(90deg, rgb(255 255 255 / 21%) 4.13%, rgba(255, 255, 255, 0.6) 80.29%);
	mix-blend-mode: normal;
	border: 1px solid #FFFFFF;
	/* box-shadow: 0px 70px 40px rgb(74 85 188 / 25%); */
	backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
	align-items: center;
	border-radius: 20px;
}

#quote{
	font-family: Delius, Actor;
	font-size: 20px;
	padding: 20px;
	text-align: center;
	
}
/*image*/
#image{
	position: absolute;
	width:37%;
	height: auto;
	Top: 18%;
	left: 57%;
	float: left;
}
#randomLines{
	position: absolute;
	width:7%;
	left:51%;
	top:70%;
}
/*footer*/
.footer{
	display:flex;
	flex-direction:row;
}

#DonateUs{
	top:90%;
	position:absolute;
	left: 10%;
	bottom: auto;
}

#phone{
	position:absolute;
	max-width: 2%;
	height: auto;
	top: 91%;
	left: 25%;
}

#tpnum{
	position:absolute;
	top: 87%;
	left: 25.5%;
}


  



#menu{
	left: 50%;
	top: initial;
	margin-top: 5%;
	margin-left: -6.5%;
	float:left;
	position:absolute;
}

#menu1{left: 17%;width: 117%;}

#menu2{
	
left: 15%;
}


input:focus-visible {
    outline: none;
}
textarea:focus-visible {
    outline: none;
}