body{
    /* position: absolute; */
    height: 1000px;
}
.container{
    position: absolute;
    left: 20%;
    right: 5%;
    top: 20%;
    width: 2%;
    /* bottom: 244px; */
    width: 66%;
    /* height: 100%; */
    background: white;
    box-shadow: 0px 70px 40px rgb(74 85 188 / 42%);
    backdrop-filter: blur(19.028px);
    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 20px; */
    /* padding-bottom: 2%; */
    display: flex;
    flex-direction: row;
}
.container2{
    position: absolute;
    left: 20%;
    top: 70%;
    right: 5%;
    width: 2%;
    /* bottom: 244px; */
    width: 66%;
    /* height: 100%; */
    background: white;
    box-shadow: 0px 70px 40px rgb(74 85 188 / 42%);
    backdrop-filter: blur(19.028px);
    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 20px; */
    /* padding-bottom: 2%; */
    display: flex;
    flex-direction: row;
}
.container3{
    position: absolute;
    left: 20%;
    top: 120%;
    right: 5%;
    width: 2%;
    /* bottom: 244px; */
    width: 66%;
    /* height: 100%; */
    background: white;
    box-shadow: 0px 70px 40px rgb(74 85 188 / 42%);
    backdrop-filter: blur(19.028px);
    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 20px; */
    /* padding-bottom: 2%; */
    display: flex;
    flex-direction: row;
}

.head{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-weight: 400;
    /* padding-top: 2%; */
    flex-wrap: wrap;
    padding-left: 40%;
    font-size: x-large;
    align-items: center;
    /* row-gap: 33%; */
    text-align: center;
    justify-content: space-evenly;
}
