.MainOval {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 60%;
	top: auto;
	background: radial-gradient(77.13% 77.13% at 75.9% 10.03%, #ffffff 100%, #ecebeb 0%);
	filter: blur(150px);
	transform: matrix(-1, 0, 0, 1, 0, 0);
}
.bg2{
	width:100%;
	height: 100%;
}
.Cat{
	position: absolute;
	/* text-align: center; */
	left: 42.5%;
	font-family: 'Sora';
	top: 16%;
	background-color: #d0d0d0;
	font-size: 22px;
	padding: 3px 7px;
}

.container{
	position: absolute;
	top: 36%;
	left: 25%;
	width: 50%;
	height: 52%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(7, 1fr);
	/* grid-column-gap: 10px; */
	/* grid-row-gap: 10px; */
	/* empty-cells: hide; */
	/* box-sizing: inherit; */
	grid-auto-flow: column;
	align-items: center;
	justify-items: center;
}

#filterButton{
	position: absolute;
	top: 25%;
	left: 35%;
	width: 2.5%;
}

.form-popup {
	display: none;
	top: 30%;
	position: fixed;
	left: 11%;
	border: 3px solid #f1f1f1;
	z-index: 9;
	background-color: whitesmoke;
}
.form-container{
	/* width: 85%; */
	font-family: 'Sora';
	padding: 5%;
	padding-right: -16%;
}
.User-Type{
	font-family: 'Sora';
	position: relative;
	left: 6%;
	border: none;
	font-size: 15px;
	padding: 2px;
}
.User-Type>:focus-visible{
	border:none;
}

.inputF{
	font-family: 'Sora';
	width: 50%;
	border: none;
	border-bottom: solid;
	border-width: thin;
	padding: 2px;
	padding-left: 8px;
	font-size: 15px;
}

.inputF>:focus-visible{
	border:none;
}

.enter{
	font-family: 'Sora';
	border: none;
	background: black;
	color: white;
	font-size: 14px;
	padding: 6px 10px;
	text-align: center;
}

.account-search{
	position: absolute;
	display: flex;
	top: 25%;
	width: 100%;
	/* margin-left: 38%; */
	/* border-radius: 10ch; */
	/* border: solid; */
	/* border-width: 1px; */
	/* z-index: 0; */
	/* padding: 1px; */
	/* padding-bottom: 9px; */
	/* padding-left: 10px; */
	flex-wrap: nowrap;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
}

.bar{
	/* position: absolute; */
	border: 0;
	border-bottom-width: 1px;
	padding-left: 20px;
	width: 300px;
	padding-top: 1px;
	border-radius: 10px;
	text-align: left;
	border: solid;
	border-width: medium;
	border-color: #898989;
	/* background: #ededed; */
	font-size: 20px;
	font-family: 'Sora', sans-serif;
	height: 46px;
}

.search-icon{
	/* position: relative; */
	/* padding: 9px;
	background: #7a7d7d;
	border-radius: 37px;
	/* width: 46px; */
	/* height: fit-content;
	z-index: 9;
	font-size: 30px;
	margin: 0;
	left: 93%; */
	font-size: 35px;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 20px;
}

.user{
    font-family: 'Work sans';
    cursor: pointer;
}

.user-icon{font-size: 20px;margin: 0px;}



