.footer {

position: fixed;

/* top: 84%; */

/* left: 3%; */

/* display: flex; */

/* column-gap: 40px; */

font-family: 'Sora';

z-index: -2;

align-items: center;

color: #d9d8d8e0;
}
.about{

cursor: pointer;

color: #d9d8d8e0;

width: fit-content;

font-weight: bolder;
}
.contact{

display: flex;

flex-direction: column;

flex-wrap: wrap;

align-items: flex-start;
}
.contactuson{

padding-bottom: 7px;

font-weight: bold;
}
.contactemail{

}
.contactnumber{

}
.contactfb{
    
}
.footer-svg{position: fixed;/* bottom: 8vw; *//* height: 99vh; *//* z-index: 2; */}
.footer-text{
    position: absolute;
    /* bottom: 3vw; */
    left: 3vw;
    top: 9vh;
    /* top: 99%; */
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: fit-content; */
    column-gap: 20px;
    /* column-width: 78px; */
}
.dropdown{display: flex;width: 32%;/* padding: 3px; */}