
* {
    box-sizing: border-box;
    /* font-weight: 300; */
    /* overflow: hidden; */
    /* width: fit-content; */
}

html{
	/* overflow-y: scroll; */
	overflow-x: clip;
}

a {
    text-decoration: none;
    color: black;
    /* font-size: 30px; */
    /* margin: 0px; */
}

form {}

div {
    /* text-align: center; */
}
.bg1{
    background-color:rgba(255, 255, 255, 1);
    /* width:100%; */
    /* height:100%; */
    position: fixed;
    top: 0vw;
    /* bottom: 0vw; */
    left: 0vw;
}
.MainOval {
	border-radius: 500px;
    width: 35vw;
    height: 35vw;
    left: 5vw;
    top: 19%;
    position: absolute;
    /* background: radial-gradient(77.13% 77.13% at 45% 25%, #FFD9D7 0%, #FFFFFF 100%); */
    /* filter: (50px); */
    background: hsla(217, 100%, 50%, 1);
	background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
	background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
	background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}

/*glassbox*/

.BlurRectRect { 
	position: absolute;
    width: fit-content;
    height: auto;
    left: 32%;
    top: 25%;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 4.13%, rgba(255, 255, 255, 0.5) 80.29%);
    backdrop-filter: blur(19.028px);
    border-radius: 20px;
	

}
.BlurRectOval {
	position: absolute;
	width: 20%;
	left: 77.5%;
	top: 36%;
	width: 25vw;
	/* background: linear-gradient(333deg, #70090975 4.13%, rgb(167 18 18 / 12%) 66.29%); */
	/* mix-blend-mode: normal; */
	/* border: 1px solid #FFFFFF; */
	/* box-shadow: 0px 7px 40px #70670959; */
	/* backdrop-filter: blur(4px); */
    /* Note: backdrop-filter has minimal browser support */
	/* align-items: center; */
	border-radius: 10px;
	/* background: #7a2424; */
}


#quote{
	font-family: Delius, Actor;
	font-family: 'Playfair Display', serif;
	/* font-weight: bold; */
	font-size: 20px;
	z-index: -1;
	padding: 20px;
	text-align: center;
	color: #000000;
}
/*image*/
#image{
	position: absolute;
	width:37%;
	height: auto;
	Top: 18%;
	left: 45%;
	float: left;
	z-index: 2;
}
#randomLines{
	position: absolute;
	width:7%;
	left: 35%;
	top:70%;
}
/*footer*/
.footer{
	/* display:flex; */
	/* flex-direction:row; */
	/* max-height: fit-content; */
	top: 69%;
	/* height: 50%; */
}

#DonateUs{
	top:90%;
	position:absolute;
	left: 10%;
	bottom: auto;
}

#phone{
	position:absolute;
	max-width: 2%;
	height: auto;
	top: 91%;
	left: 25%;
}

#tpnum{
	position:absolute;
	top: 87%;
	left: 25.5%;
}


#menu{
	left: 50%;
	top: initial;
	margin-top: 5%;
	margin-left: -6.5%;
	float:left;
	position:absolute;
}

#menu1{/* position: absolute; *//* top: 100%; */left: -6%;/* width: 134%; */}

#menu2{
	
/* left: 15%; */
	
/* top: 100%; */
}


input:focus-visible {
    outline: none;
}
textarea:focus-visible {
    outline: none;
}
@media screen and (max-width: 767px){
	.BlurRectOval {
		width: 324px;
		left: 10%;
		top: 16%;		
	}
	#image{
		display: none;
	}
	#randomLines{
		display: none;
	}
	

}
@media screen and (min-width: 768px) and (max-width:1080px){
	#image{
		display: none;
	}
	.BlurRectOval {
		position: absolute;
		width: 20%;
		left: 71.5%;
		top: 36%;
		width: 25vw;
		
	}
	#randomLines{
		display: none;
	}

}
@media screen and (min-width: 1080px){

}
