#Logo {
	position: absolute;
    height: auto;
    float: left;
    grid-column: 1/3;
    width: 16%;
    top: -1%;
    left: 0%;
}
.btn {
	background: #000000;
	color: #ffffff !important;
	font-weight: 100;
	padding: 1vw;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
	text-decoration: none;
	font-family: 'Sora', sans-serif;
	position: absolute;
	font-size: 17px;
	overflow: hidden;
}
.btn:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	font-size: 20px;
	letter-spacing: 2px;
	background: none;
	box-shadow: 0px 5px 40px -10px rgb(255 255 255);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
	text-decoration: none;
	font-family: 'Sora', sans-serif;
	float: left;
	top: 9%;
}

#login{
    left: 77%;
    top: 5vh;
    /* bottom: 128%; */
    /* position: sticky; */
}
#signup{
    left:88%;
    top: 5vh;
}


/* Header menus*/
.header{
	left: 0%;
	width: 100%;
	position: absolute;
	height: fit-content;
	top: 0%;
}
.txt{
	text-align: left;
	font-size: 21px;
	font-family: 'Sora', sans-serif;
	/* top:5%; */
	float:left;
	width: fit-content;
	height: fit-content;
	position: fixed;
	padding: 2% 2%;
}

#SmileMakers{
	
/* font-weight: bold; */
	
position: relative;
	
/* left: -1%; */
	
display: flex;
	
top: -1vh;
	
row-gap: 3px;
	
font-size: 17px;
	
border-radius: 70px;
	
/* font-weight: bold; */
	
/* width: 44%; */
	
/* top: -1vh; */
	
/* text-decoration: none; */
	
flex-direction: column;
	
/* font-weight: bold; */
	
justify-content: flex-start;
	
align-items: center;
}

#Event{
	position: relative;
	display: flex;
	/* left: 30%; */
	width: 100%;
	/* top: 2vh; */
	font-size: 17px;
	flex-wrap: nowrap;
	letter-spacing: 0.5px;
	/* padding: 6px; */
	/* height: 2%; */
	justify-content: flex-start;
	align-content: center;
	flex-direction: row;
	align-items: center;
}
#Donation{
	position: relative;
	display: flex;
	/* left: 40%; */
	font-size: 17px;
	/* width: 58%; */
	/* top: 2vh; */
	letter-spacing: 0.5px;
	align-items: center;
}
.menuicon{
	/* position: absolute; */
	/* width: 24px; */
	/* height: auto; */
	margin: 0px;
	padding-left: 2px;
	margin-bottom: -0.5em;
	/* right:1%; */
}
.profile{
	/* FONT-WEIGHT: 200; */
	position: absolute;
	left: 77%;
	/* width: 4%; */
	/* top: 4vh; */
	font-size: 36px;
	margin: 0px;
}

#Account{
	position: absolute;
	left: 80%;
	display: flex;
	/* width: 0; */
	/* right: 1%; */
	top: 5vh;
	font-size: 17px;
	padding: 0px;
	letter-spacing: 1px;
	align-items: center;
}
/*dropdown menus*/
.dropdowns{
    display: flex;
    flex-direction: row;
    left: 17vw;
    top: 5vh;
    position: relative;
    align-items: center;
    width: 42%;
    /* row-gap: 58px; */
    column-gap: 35px;
    /* column-width: 142px; */
    /* font-size: 10px; */
    /* height: fit-content; */
}
.dropdown-content {
	position: absolute;
	font-family: 'Sora', sans-serif;
	background-color: #ffffff;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: left;
	font-size: 16px;
	width: 15ch;
	margin-top: 5%;
	padding-bottom: 5%;
	/* height: 86%; */
	visibility: hidden;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all 0.5s cubic-bezier(0.82, 1.32, 1, 1);
}

.dropdown-content a {
	color: black;
	padding: 8px;
	text-decoration: none;
	display: block;
}
  
.dropdown-content a:hover {color: #04AA6D;}
  
.dropdown:hover .dropdown-content {
	display: block;
	visibility: visible;
	opacity: 1;
}
#menu3{
	/* right: 1%; */
}
#logout{
    font-family: 'Sora';
    border-color: white;
    box-shadow: none;
    background: none;
    border: none;
    font-size: 16px;
    /* padding-bottom: 0px; */
    padding: 8px;
    padding-bottom: 0px;
}

#logout:hover {
    color: blue;
}

.smileys{	
letter-spacing: 1px;
}

.dropdown {
    display: flex;
    width: 32%;
    /* height: 125%; */
    /* padding: 3px; */
}

.gg-crown {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 19px;
    height: 10px;
    border: 2px solid;
    border-top-color: #ffffff00;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-bottom: 11px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* padding: 17px; */
}
.gg-crown::after,
.gg-crown::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    top: -4px
}
.gg-crown::before {
    border-top-left-radius: 2px;
    left: -1px
}
.gg-crown::after {
    border-bottom-right-radius: 2px;
    right: -1px
}
.user{
	
/* position: absolute; */
	
/* top: 0vh; */
	
/* left: 70%; */
	
/* width: 20%; */
}


