.container{
    display: flex;
    position: absolute;
    width: 100%;
    top: 14%;
    left: 6%;
    font-family: 'Roboto';
    column-gap: 7%;
}
.c1{
    display: flex;
    flex-direction: column;
    width: 60%;
    /* column-gap: 10%; */
}
.c2{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.cat{}
.topic{
    font-size: 30px;
    padding-top: 4%;
    margin-bottom: 2%;
    border-bottom: solid;
    border-width: thin;
    /* padding-bottom: 2%; */
    /* width: 100%; */
    /* float: right; */
    font-weight: 300;
    /* text-align: center; */
    /* color: #bd2222; */
}
.display{
    display: flex;
    row-gap: 16px;
    align-items: stretch;
    flex-direction: column;
}
.s0{
    /* padding-bottom: 1%; */
    display: flex;
    flex-direction: column;
}
.name{
    font-size: 40px;
}
.removeacc{
    color: red;
    text-align: right;
    padding-right: 26%;
}
.s1{}
.topic2{
    font-size: larger;
    font-family: 'Sora';
    background: #ebebeb;
    padding: 1px;
}
.details{display: flex;line-height: 33px;font-size: 16px;padding-bottom: 30px;}
.fpost{
    display: flex;
    width: fit-content;
    width: 100%;
    padding: 2px;
    /* padding-right: 24px; */
    flex-direction: row;
    column-gap: 10px;
    column-width: -4px;
    font-family: 'Work Sans';
    border: solid;
    border-width: thin;
    align-items: center;
    border-color: #c1c1c1;
    /* border-radius: 0%; */
    /* row-gap: 20px; */
    justify-content: flex-end;
}
.photo{
	width: 125px;
	/* height: 70px; */
	padding: 5px;
	/* border-radius: 25%; */
	/* margin: 4px; */
	margin-right: 15px;
}
.location{
    width: 14%;
}
.title{
    width: 23%;
    /* max-height: 2em; */
    padding: 0%;
    /* overflow: hidden; */
}
.progress{}
.RaisedOf{/* margin-left: 15px; */width: 20%;}
.delete{
    width: fit-content;
    color: #aa1515;
    margin: 1%;
    font-size: 30px;
    margin: 0px;
    /* text-decoration: underline; */
}
.chaticon{
    background: #2275bd;
    padding: 5px;
    border-radius: 30%;
    margin-left: 10px;
    margin-right: 18px;
}
.viewf{}    
.t{
    display: flex;
    /* align-content: stretch; */
    /* height: auto; */
    justify-content: flex-end;
}
.line{
    border-top: solid;
    height: 0px;
    border-width: 0;
    width: 59%;
}

table {
    margin-top: 5%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 84%;
  }
  
td, th {
    border: 1px solid #8d8d8d;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    /* background-color: #dddddd; */
  }

.done {
    color: #346a34;
    text-decoration: underline;
    font-size: 30px;
    margin: 0px;
    /* position: absolute; */
    /* text-align: right; */
}
.row1{
    display: flex;
    flex-direction: row;
}
.row2 {}
.move{
    font-size: 30px;
    margin: 0px;
    color: #257078;
}
.description{
    width: 56%;
}
.report{
    /* margin-bottom: 1%; */
    display: flex;
    justify-content: flex-start;
    margin-bottom: -5%;
    margin-top: -5%;
    /* height: 129%; */
    column-gap: 9px;
}
.reportIcon{color: #9d9d00;font-size: 30px;/* height: 136%; */margin-top: 9%;margin-bottom: 0px;cursor: pointer;}
.dmicon{
    display: flex;
    align-items: flex-end;
    align-content: center;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 25px;
    margin-top: 6%;
}
.icons{
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
}

.icons2{
    /* width: 23%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    margin: 0 1%;
}
.reportbox{
    display: none;
    padding-top: 2%;
    /* display: none; */
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-evenly;
    /* column-gap: 23px; */
}
.nofunds{font-family: 'Work Sans';margin: 0px;}
.report_photos{
    display: flex;
    align-items: center;
    /* column-gap: 144px; */
    justify-content: space-evenly;
}
.report_photo{
    width: 13%;
}
.display-report{
    display: none;
    flex-direction: column;
}
.short_report {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.report_details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}