

#Account{
	/* position:absolute; */
	/* left: 80%; */
	/* width: 14%; */
	/* top: 0%; */
}

#menu3{
	/* width: 90%; */
	/* left: 8%; */
}

#skill-chart {
	height: 200px;
	max-width: 300px;
	margin: 0 auto;
}

.container{display: flex;position: absolute;top: 19%;/* top: 10%; */left: -1%;width: 100%;height: 100%;flex-direction: column;/* padding-left: 1%; */row-gap: 10px;}
.r1{
    display: flex;    
    /* position: absolute; */    
    /* height: auto; */    
    width: 51%;    
    align-items: center;    
    /* font-size: large; */   
    padding: 2%;    
    flex-wrap: wrap;   
    justify-content: space-between;    
    left: 6%;
}
.r2{
    /* position: absolute; */
    top: 14%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    align-content: flex-start;
    justify-content: space-around;
    column-gap: 4%;
    }

#f1{
    /* position: absolute; */
    /* top: 46%; */
    /* right: 16%; */
    font-size: 30px;
    text-align: center;
    font-family: 'Sora';
    width: fit-content;
}
.c1{	
    /* position: absolute; */        
    /* right: 30%; */    
    display: flex;   
    flex-direction: column;        
    flex-wrap: nowrap;        
    row-gap: 10%;        
    align-items: center;        
    justify-content: center;        
    font-family: 'Work Sans';        
    border: solid;        
    border-width: thin;        
    padding: 0 2%;
}
#f2{
    font-size: 23px;
    font-family: 'Sora';
    padding-left: 11%;
}
.r3{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
#s1{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    margin-bottom: 40px;
}
#h1{
    font-family: 'Sora';
    font-size: 24px;
    text-transform: uppercase;
    padding-left: 8%;
}
.funds{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    padding-left: 8%;
}
.posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 8%;
    row-gap: 10px;
}
.events{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 8%;
    font-family: 'Work Sans';
    font-size: large;
    color: #666;
}
.fpost{
    display: flex;
    width: 75%;
    padding: 2px;
    padding-right: 24px;
    flex-direction: row;
    column-gap: 10px;
    column-width: -4px;
    /* flex-wrap: wrap; */
    font-family: 'Work Sans';
    border: solid;
    border-width: thin;
    align-items: center;
    border-color: #c1c1c1;
    /* border-radius: 0%; */
}
.photo{
	width: 10%;
	height: 90%;
	border-radius: 10%;
	margin: 4px;
	margin-right: 15px;
}
.location{
    width: 14%;
}
.title{
    width: 25%;
    max-height: 4em;
    overflow: hidden;
}
.progress{}
.RaisedOf{margin-left: 15px;width: 24%;}
.description{
    
width: 50%;
    
max-height: 11ch;
    
overflow: hidden;
}
.done{
    color: #279069;
    /* line-height: 30px; */
    padding: 0px 15px;
    width: fit-content;
    /* color: #d31a1a; */
    padding: 0px;
    font-size: 25px;
    margin: 0;
    margin: 0px 5px;
}
.delete{
    width: fit-content;
    color: #d31a1a;
    padding: 0px;
    font-size: 25px;
    margin: 0px 5px;
    /* margin: 0; */
    /* background: black; */
    /* text-decoration: underline; */
}
.move{
    
width: fit-content;
    
color: hsl(217deg 50% 36%);
    
padding: 0px;
    
font-size: 25px;
    
margin: 0;
    
margin: 0px 5px;
}

.item{
    width: 10%;
}
@media screen and (max-width: 767px){
    .r1{   
        width: 90%;    
    }
    #f2{
        font-size: 20px;
    }    
    #f1{
        font-size: 14px;
    }
    .c1{
        top: 20%;	
    }
    #curve_chart{
        left: 2%;
    }
    #h1{
        font-size: 18px;
    }
    .fpost{
        width: 95%;
        font-size: 12px;
    }
    .title, .item, .description, .RaisedOf, .bar{
        display: none;
    }
    .location{
        width: 40%;
    }
    .photo{
        width: 10%;
        height: 90%;
        border-radius: 10%;
        margin: 4px;
        margin-right: 15px;
    }
    
	
}
@media screen and (min-width: 767px) and (max-width:1080px){
    
}
@media screen and (min-width: 1080px){
    

}