#Logo2{
    position: relative;
	width:15%;
	height: auto;
	left:8%;
	float: left;
}
#form{
    font-family: Ac
}

#fname{
	margin-left:2%
}

.BlurRectOval {
	position: absolute;
	left: 18%;
	width: 20%;
	/* width: fit-content; */
}
.input_form{
	margin-bottom:4%;
}
#rememberMe{
    font-family: 'Sora', sans-serif;
    font-size: 13.5px;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-top:2%;
    display: flex;
    width: fit-content;
    margin-top:2%;
    margin-bottom:1%;
}
#passwordReset{
    font-family: 'Sora', sans-serif;
    color: rgb(37, 79, 158);
    font-size: 13.5px;
    padding-left: 2%;
    width: fit-content;
    margin: 0 auto;   
}
#or{
    font-family: 'Sora', sans-serif;
    font-size: 15px;
    padding-bottom: 10%;   
    width: fit-content;
    margin: 0;
    margin-top: 2%;
}
#enter{
    margin-left: 2%;
    margin-top:4%;
    margin-bottom: 5%;
}
.fa {
    padding: 4%;
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    margin-left: 2%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }


  
