#Logo {
	position: absolute;
	height: auto;
	float: left;
	grid-column: 1/3;
    width:12%;
	top: -1%;
	left:4%;
}
.btn {
	background: #000000;
	color: #ffffff !important;
	font-weight: 100;
	padding: 1vw;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
	text-decoration: none;
	font-family: 'Sora', sans-serif;
	position: absolute;
	font-size: 17px;
	overflow: hidden;
}
.btn:hover {
	color: #404040 !important;
	font-weight: 700 !important;
    font-size: 20px;
	letter-spacing: 2px;
	background: none;
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
    text-decoration: none;
    font-family: 'Sora', sans-serif;;
	float: left;
	top: 9%;
}

#login{
    left:78%;
    top:2%;
}
#signup{
    left:88%;
    top:2%;
}

/* Header menus*/
.header{
	left:20%;
	width: 100%;
	height: fit-content;
}
.txt{
	text-align: left;
	font-size: 22px;
	font-family: 'Sora', sans-serif;
	/* top:5%; */
	float:left;
	width: fit-content;
	height: fit-content;
	position: fixed;
	padding: 2% 2%;
}

#about{
	position:absolute;
	left: 20%;
	width:auto;
	top: 0%;
}
#Event{
	position:absolute;
	left: 30%;
	width:auto;
	top: 0%;
}
#Donation{
	position:absolute;
	left: 40%;
	width:auto;
	top: 0%;
}
.menuicon{
	position: absolute;
	width: 20px;
	height: auto;
	float:left;
	right:1%;
	
}
.dropdown-content {
	position: absolute;
	font-family: 'Sora', sans-serif;
	background-color: #ffffff;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: left;
	font-size: 16px;
	width: 14ch;
	margin-top: 5%;
	visibility: hidden;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all 0.5s cubic-bezier(0.82, 1.32, 1, 1);
}

.dropdown-content a {
	color: black;
	padding: 8px;
	text-decoration: none;
	display: block;
}
  
.dropdown-content a:hover {color: #04AA6D;}
  
.dropdown:hover .dropdown-content {
	display: block;
	visibility: visible;
	opacity: 1;}

#Account{
	position:absolute;
	left: 80%;
	/* width: 14%; */
	top: 0%;
}
.profile{
	position: absolute;
	left: 78%;
	width: 3%;
	top: 3%;
}
