#message-box{
    font-family: sans-serif;
    position: fixed;
    bottom: -100px;
    left: 10px;
    z-index: 100;
    color:#ffffff;
    padding: 5px;
    font-size: 20px;
    width: 50%;
    transition: bottom 0.5s;
}

#message-box a{
    float: right;
    cursor: pointer;
}

.success{
    background-color: #00b16a;  
}

.error{
    background-color: #f03434;
}

.loading{
    display: none;
    float: right;
}

#banner{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    font-size: 20px;

    display: none;
}

#banner div{
    width: 30%;
    height: 40%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    background: rgba(255, 255, 255, 1);

    padding-left: 15px;
}