.form-btn{
    background: #000000;
    color: #ffffff !important;
    font-weight: 100;
    padding: 1vw;
    text-transform: uppercase;
    border-radius: 6px;
    float: right;
    cursor: pointer;
}

.form-text{
    font-size: medium;
}

#message-box{
    font-family: sans-serif;
    position: fixed;
    bottom: -100px;
    left: 10px;
    z-index: 100;
    color:#ffffff;
    padding: 5px;
    font-size: 20px;
    width: 50%;
    transition: bottom 0.5s;
}

#message-box a{
    float: right;
    cursor: pointer;
}

.success{
    background-color: #00b16a;  
}

.error{
    background-color: #f03434;
}

.text-normal{
    font-size: 15px;
}

.loading{
    display: none;
    float: right;
}